/* Sidebar.module.css */

.drawer {
    width: 240px;  
    height: 100% !important;
    background: #034893; 
    color: white
  }
  
  .menuButton {
    left: -57%;
    top: -40px;
    z-index: 1;
  }